ProjetoGracieBarraCamargos/.vs/ProjetoGracieBarraCamargos/FileContentIndex/c4df7d0b-d1a7-479e-be3d-25803798be5f.vsidx
ProjetoGracieBarraCamargos/.vs/ProjetoGracieBarraCamargos/FileContentIndex/2352c507-4441-47ed-8e2c-7792c31e7231.vsidx
ProjetoGracieBarraCamargos/.vs/ProjetoGracieBarraCamargos/FileContentIndex/4382be19-dc81-4564-898e-751fb2a97eaf.vsidx
ProjetoGracieBarraCamargos/.vs/ProjetoGracieBarraCamargos/FileContentIndex/5e1eb065-f907-45d6-98a5-d13b41a75d07.vsidx
ProjetoGracieBarraCamargos/.vs/ProjetoGracieBarraCamargos/FileContentIndex/d53d399d-ed98-4102-ad26-1d1b539b4774.vsidx
